@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  /* every thing center */
  padding: 5px;
  font-family: "Inter", sans-serif;
  background: #161515;
  color: #837e7e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  body {
    max-width: 700px;
    margin: 0 auto;
  }
}

.title-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  height: 100px;
  left: 69px;
  top: 50px;
  margin-bottom: 0;
}
.title-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-content: space-around;
}
.tab-bar {
  width: 100%;
  max-width: 90%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  background: #302f2f;
  border-radius: 5px;
  color: white;
  margin-top: 3rem;
}
/* after mobil screen */
@media (min-width: 640px) {
  .tab-bar {
    max-width: 400px;
  }
}
/* tab-bar-item 50% width of parent*/
.tab-bar-item {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* tab-bar-item-btn width full */
.tab-bar-item-btn {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  /* remote buton stle */
  border: none;
  background: #837e7e;
  outline: none;
  color: white;
}
/* button selected */
.tab-bar-item-btn-selected {
  color: #161515;
}
.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

#board {
  /* 8 cols */
  display: grid;
  grid-template-columns: repeat(8, 50px);
  /* 8 rows */
  grid-template-rows: repeat(8, 50px);
  /* border */
  /* width 50*8 */
  width: 400px;
  /* height 50*8 */
  height: 400px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 640px) {
  /* 30px box */
  .box {
    width: 42px;
    height: 42px;
    margin: 0;
  }

  #board {
    width: 336px;
    height: 336px;
    /* no gaps cols */
    grid-template-columns: repeat(8, 42px);
    /* no gaps rows */
    grid-template-rows: repeat(8, 42px);
  }
}

.red-pulse-box {
  background-color: red;
  /* animate pulse for 2 seconds */
  animation: pulse 2s;
}

@keyframes pulse {
  0% {
    background-color: red;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: red;
  }
}

details {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
  margin: 10px;
}
#win-msg {
  /* light green center */
  background-color: #90ee90;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 0;
  animation-name: slidefromtop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  color: white;
}
/* make slide from to bottom 30px disappers from 5 secs */
@keyframes slidefromtop {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
